@model webshop.Models.Vare


  <h2>Ny produkt</h2>

  <form action="/Produkt/NyVare" method="post">
    <table class="table table-striped">
      <tr>
        <td>Product Name</td>
        <td><input type="text" name="ProduktNavn" /></td>
      </tr>
      <tr>
        <td>Company</td>
        <td><input type="text" name="ProduktMerke" /></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" name="Pris" /></td>
      </tr>
      <tr>
        <td>Quantity in total</td>
        <td><input type="text" name="antall" /></td>
      </tr>
    </table>
    <input type="submit" value="Legg Til" name="Legg Til" />
  </form>

