

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Electronic Store</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1"></a></li>
          <li><a href="#section2"></a></li>
          <li><a href="#section3"></a></li>
          <li><a href="#section3"></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="section1" class="container-fluid">
  <h1>Velkommen til Webapp Store! </h1>
  <p> this is a new section!</p>
  <p>Nettbutikken vår demonstrerer hvordan man kan lage en plattform
        for salg ved å bruke Entity Framework i en ASP.NET MVC 5 webapplikasjon Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
