

<div class="jumbotron">
    <h1>Webapplikasjoner Nettbutikk</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Velkommen til Webapp Store!</h2>
        <p>Nettbutikken vår demonstrerer hvordan man kan lage en plattform
        for salg ved å bruke Entity Framework i en ASP.NET MVC 5 webapplikasjon.</p>
    </div>
</div>