
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InnLoggetSide</title>
</head>
<body>
    <div> 
        Velkommen til brukersiden din!
    </div>
</body>
</html>
