@model IEnumerable<webshop.Models.Vare>

@{
    ViewBag.Title = "Index";
}


  <h2>Her kan du kjøpe ting</h2>

  <table class="table table-striped">
    <tr>
      <th>
        Title
      </th>
      <th>
        Brand
      </th>
      <th>
        Price
      </th>
      <th>
      </th>
</tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.ProduktNavn)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ProduktMerke)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Pris)
        </td>
        
        <td>
          @Html.ActionLink("+ Add to cart", "../CartItems/AddToCart",
                //  "/CartItems/AddToCart",
                new { id = item.VareId },
                new { @class = "btn btn-primary" })
        </td>
      </tr>
    }

  </table>


